In [1]:
import pandas as pd
import numpy as np

In [3]:
class Employee:
    
    def __init__(self, name, des, salary):
        self.name = name
        self.des = des
        self.salary = salary
        
    def displayEmp(self):
        print ("Name of Employee is: ", self.name)
        print ("Designation of Employee: ", self.des)
        print ("Salary of Employee: ", self.salary)
        
e1 = Employee ("Mahesh", "Manager", 20000)
e2 = Employee ("Rahul", "Team Leader", 30000)

In [4]:
e1

In [5]:
print(e1)

<__main__.Employee object at 0x000001F0D01F5700>

In [24]:
num1=float(input("enter the first number :"))
op = input("sellect the operation :")
num2 = float(input("enter the second number :"))
if op== "+" :
    print(num1+num2)
elif op == "-":
    print(num1 - num2)
elif op == "*":
    print(num1*num2)
elif op == "/":
    print(num1 / num2)
else:
    print("please enter a real operation ")

enter the first number :2
sellect the operation :+
enter the second number :2
4.0

In [7]:
class Employee:
    
    def __init__(self, name, des, salary):
        self.name = name
        self.des = des
        self.salary = salary
       
    def displayEmp(self):
        print ("Name of Employee is: ", self.name)
        print ("Designation of Employee: ", self.des)
        print ("Salary of Employee: ", self.salary)
        
e1 = Employee ("Mahesh", "Manager", 20000)
e2 = Employee ("Rahul", "Team Leader", 30000)

print("Employee Details is:")

e1.displayEmp()
e2.displayEmp()

Employee Details is:
Name of Employee is:  Mahesh
Designation of Employee:  Manager
Salary of Employee:  20000
Name of Employee is:  Rahul
Designation of Employee:  Team Leader
Salary of Employee:  30000

# MODULE-2 OPERATORS

In [8]:
#write an equation which relates 399,543 and 12345

#Step-by-step explanation:

#if x = 12345 ; y = 543 and z = 399

#then x= 22y + z

#Alternatively Mod(12345/543) = 399

x = 12345
y = 543
z = 399

equation = 22*y + z

if equation == x:
    print('it is a valid relation')

it is a valid relation

In [9]:
#when I divide 5 with 3 I got1. but when I divide -5 with 3 I got -2 how would you justify it

print (5//3)


#The “//” operator is used to return the closest integer value which is less than or equal to a specified expression or value
# this is floor division in python actually 5/3 is 1.6, and the closest integer which is less than or equal is 1 so [5//3] is 1.

print (-5//3)


#In Python, the “//” operator works as a floor division for integer and float arguments.
#In normal maths 5/3 is 1.6 which means 2 so it is -2 for (-5//3)

1
-2

In [96]:
a=5
b=3
c=10

#  a/=b    a=a/b
#  c*=5    c=c*a

In [97]:
a=a/b
a

1.6666666666666667

In [98]:
c=c*a
c

16.666666666666668

In [93]:
#how to check the presence of an alphabet s in "Data Science".

string = 'Data Science'
print( string.isalpha())

False

In [21]:
#how can we obtain 64 by using numbers 4 and 3

base = 4
exponent = 3

result = pow(base, exponent)

print("Answer = " + str(result))

Answer = 64

# ASSIGNMENT 1 datatypes

# construct two lists containing all the available data types(integer,float,string,complex and boolean) and do the following

In [35]:
# a. create another list by concatenating above two lists.
a= ["hey","you",1,1.5,2,2.5,3,"go"] # list with string, float and integer
b=[1,2,3,4,5,6j,True] # list with int and boean

c=a+bol
c

['hey', 'you', 1, 1.5, 2, 2.5, 3, 'go', 1, 2, 3, 4, 5, 6j, True]

In [37]:
# b. find the frequency of each element in the concatenated list

c=['hey', 'you', 1, 1.5, 2, 2.5, 3, 'go', 1, 2, 3, 4, 5, 6j, True]

frequency = {}

# iterating over the list
for item in c:
   # checking the element in dictionary
   if item in frequency:
      # incrementing the counr
      frequency[item] += 1
   else:
      # initializing the count
      frequency[item] = 1

# printing the frequency
print(frequency)

{'hey': 1, 'you': 1, 1: 3, 1.5: 1, 2: 2, 2.5: 1, 3: 2, 'go': 1, 4: 1, 5: 1, 6j: 1}

In [43]:
# c. print the list in reverse order
c=['hey', 'you', 1, 1.5, 2, 2.5, 3, 'go', 1, 2, 3, 4, 5, 6j, True]
list(reversed(c))

[True, 6j, 5, 4, 3, 2, 1, 'go', 3, 2.5, 2, 1.5, 1, 'you', 'hey']

#create 2 sets containing integers(numbers from 1 to 10 in one set and 5 to 15 in other set)

In [63]:
# a. find the common elements in above 2 sets


def common_member(a, b):
    a_set = set(a)
    b_set = set(b)
 
    if (a_set & b_set):
        print(a_set & b_set)
    else:
        print("No common elements")
        
a = [1, 2, 3, 4, 5,6,7,8,9,10]
b = [5,6, 7, 8, 9,10,11,12,13,14,15]
common_member(a, b)

{5, 6, 7, 8, 9, 10}

In [75]:
a = [1, 2, 3, 4, 5,6,7,8,9,10]
b = [5,6, 7, 8, 9,10,11,12,13,14,15]
set(a).intersection(b)

{5, 6, 7, 8, 9, 10}

In [86]:
# b. find the elements that are not common
def uncommon_items(a,b):
    set1 = set(a)
    set2 = set(b)
    if(set1 ^ set2):
        print ('Uncommon elements: ' + str(set1 ^ set2))
    else:
        print ('No Uncommon elements')
a = [1, 2, 3, 4, 5,6,7,8,9,10]
b = [5,6, 7, 8, 9,10,11,12,13,14,15]

uncommon_items(a,b)

Uncommon elements: {1, 2, 3, 4, 11, 12, 13, 14, 15}

In [69]:
# c. remove 7th element from both the sets

a = [1, 2, 3, 4, 5,6,7,8,9,10]
b = [5,6, 7, 8, 9,10,11,12,13,14,15]

del (a[7],b[7])
print(a,b)

[1, 2, 3, 4, 5, 6, 7, 10] [5, 6, 7, 8, 9, 10, 11, 13, 14, 15]

# create a data dictionary of 5 states having state name as key and number of covid-19 cases as values

In [101]:
# a. print only state names from dictionary 
dic1={"telangana":9,"delhi":10,"ap":20,"chennai":23,"banglore":27}
dic1.keys()

dict_keys(['telangana', 'delhi', 'ap', 'chennai', 'banglore'])

In [105]:
# b. update another country and its covid-19 cases in the dictionary
dic1={"telangana":9,"delhi":10,"ap":20,"chennai":23,"banglore":27}
dic1['pune'] = 46
dic1

{'telangana': 9,
 'delhi': 10,
 'ap': 20,
 'chennai': 23,
 'banglore': 27,
 'pune': 46}